.button-container input[type=button] {
    width: 320px;
    height: 30px;
    text-align: left;
    margin-top: 4px;
    font-size: 15px;
    background-color: #F9F9FB;
    border-radius: 12px;
    border: solid 1px #d6caca;
}

.button-container input[type=button]:active {
    background-color: dodgerblue;
}
.button-container input[type=button]:hover {
    background-color: #e0e0e5;
}

.button-container input[type=text] {
    width: 320px;
    height: 15px;
    text-align: left;
    margin-top: 4px;
    font-size: 15px;
    background-color: #F9F9FB;
    border: solid 1px #d6caca;
}

#map-container {
    background-color: #F9F9FB;
    width: 80%;
    min-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#country-data-render {
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

#country-map-render {
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 660px;
}

.legend {
    display: none;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

.legend-header {
    font-size: 16px;
    margin-bottom: 5px;
}

.legend-level {
    display: inline-block;
    box-sizing: border-box;
    height: 25px;
    vertical-align: top;
}
.legend-level-title {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 5px 5px;
}

.legend-square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 3px 0;
}

.no-data {
    background-color: #CCCCCC
}

.gini-very-low {
    background-color: #ACE8DA;
}
.gini-low {
    background-color: #00BFAC;
}
.gini-medium {
    background-color: #00BFAC;
}
.gini-high {
    background-color: #003135;
}

.water-safe {
    background-color: #108110
}
.water-not-recommended {
    background-color: #d2d22e
}
.water-unsafe {
    background-color: #000000
}

.density-very-low {
    background-color: rgb(241, 227, 216)
}
.density-low {
    background-color: rgb(201, 143, 103)
}
.density-medium {
    background-color: rgb(113, 70, 40)
}
.density-high {
    background-color: rgb(38, 24, 13)
}